@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

@font-face {
  font-family: Panchang;
  src: url('/fonts/Panchang-Regular.ttf');
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
  color: white;
  scroll-behavior: smooth;
  cursor: url("/images/cursor.png"), auto;

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: #1e1e24;
  }

  &::-webkit-scrollbar-thumb {
    background: #6649b8;
  }

  .sidebar {
    padding: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    right: 0;
    top: 40%;
    display: flex;
    flex-direction: column;

    a {
      margin-bottom: 3px;
      margin-top: 3px;
      text-decoration: none;
      cursor: pointer;

      img {
        max-width: 30px;
      }
    }
  }

  nav {
    backdrop-filter: blur(20px) saturate(100%);
    -webkit-backdrop-filter: blur(25px) saturate(0%);
    background-color: rgba(17, 25, 40, 0);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    img {
      cursor: pointer;
      max-width: 80px;
      border-radius: 20px;
    }

    .nav-links {
      width: 100%;

      ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        li {
          a {
            padding: 10px;
            border-radius: 10px;
            text-decoration: none;
            color: white;
            transition: all 0.1s ease-in-out;

            &:hover {
              text-decoration: underline;
              background-color: white;
              color: black;
            }
          }
        }
      }
    }
  }

  main {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;


    .info {
      width: 100%;
      font-size: 40px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      place-content: center;

      h1 {
        font-family: "Panchang";
      }

      img {
        width: 200px;
        border-radius: 50%;
      }

      .languages {
        margin: 30px;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;

        p {
          letter-spacing: 2px;
          position: relative;
          display: inline-block;
          border-radius: 6px;
          clip-path: polygon(10px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 10px);
          background: #b6eada4f;
          padding: 16px 40px;
          margin: 10px 10px;
          font-weight: 600;
          font-size: 18px;
          transition: clip-path 300ms;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 10px;
            background: #c4d6d14f;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
            border-radius: 0 0 6px 0;
            transition: transform 300ms;
          }

          &:hover {
            clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
            background: #b0cdc54f;
          }

          &:hover::after {
            transform: translate(-100%, -100%);
          }
        }
      }

      .skills {
        margin: 30px;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;

        p {
          letter-spacing: 2px;
          position: relative;
          display: inline-block;
          border-radius: 6px;
          clip-path: polygon(10px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 10px);
          background: #5b8fb934;
          padding: 16px 40px;
          margin: 10px 10px;
          font-weight: 600;
          font-size: 18px;
          transition: clip-path 300ms;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 10px;
            background: #b8d2e834;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
            border-radius: 0 0 6px 0;
            transition: transform 300ms;
          }

          &:hover {
            clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
            background: #749bbb34;
          }

          &:hover::after {
            transform: translate(-100%, -100%);
          }
        }
      }
    }


    .projects {
      margin-top: 200px;
      text-align: center;
      width: 50%;
      display: flex;
      flex-direction: column;

      .cards {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .card {
          margin-left: 40px;
          margin-right: 40px;
          padding: 0;
          margin-bottom: 40px;

          &:nth-child(1) a {
            margin: 0;
            color: white;
            text-decoration: none;
            text-align: center;

            img {
              margin: 0;
              max-width: 300px;
              transition: all 0.5s;
            }
          }

          &:hover {
            img {
              transform: scale(1.1);
            }

          }
        }
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;

      ul {
        list-style: none;
      }
    }
  }
}