@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  cursor: url("/Images/cursor.png"), auto;

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: #1e1e24;
  }

  &::-webkit-scrollbar-thumb {
    background: #6649b8;
  }

  .sidebar {
    padding: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    right: 0;
    top: 40%;
    display: flex;
    flex-direction: column;

    a {
      margin-bottom: 3px;
      margin-top: 3px;
      text-decoration: none;
      cursor: pointer;

      img {
        max-width: 30px;
      }
    }
  }

  nav {
    background-color: rgba(0, 0, 0, 0.5);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    img {
      cursor: pointer;
      max-width: 80px;
    }

    .nav-links {
      width: 100%;
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        li {
          a {
            padding: 10px;
            border-radius: 30px;
            text-decoration: none;
            color: white;
            transition: all 0.3s;

            &:hover {
              background-color: white;
              color: black;
            }
          }
        }
      }
    }
  }

  main {
    margin-top: 80px;
    display: grid;
    place-content: center;

    .info {
      margin-left: 40px;
      margin-right: 40px;
      font-size: 40px;
      text-align: center;
      display: grid;
      place-content: center;
    }

    .projects {
      margin-top: 200px;
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;

      .cards {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .card {
          margin-left: 40px;
          margin-right: 40px;
          transition: all 0.5s;
          padding: 0;
          margin-bottom: 40px;

          &:nth-child(1) a {
            margin: 0;
            color: white;
            text-decoration: none;
            text-align: center;

            img {
              margin: 0;
              max-width: 300px;
            }
          }

          &:hover {
            transform: scale(1.08);
          }
        }
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;

      ul {
        list-style: none;
      }
    }
  }
}
