@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@font-face {
  font-family: Panchang;
  src: url("/fonts/Panchang-Regular.ttf");
}
body {
  font-family: "Roboto Condensed", sans-serif;
  background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
  color: white;
  scroll-behavior: smooth;
  cursor: url("/images/cursor.png"), auto;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
body .sidebar {
  padding: 5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  right: 0;
  top: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .sidebar a {
  margin-bottom: 3px;
  margin-top: 3px;
  text-decoration: none;
  cursor: pointer;
}
body .sidebar a img {
  max-width: 30px;
}
body nav {
  backdrop-filter: blur(20px) saturate(100%);
  -webkit-backdrop-filter: blur(25px) saturate(0%);
  background-color: rgba(17, 25, 40, 0);
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
body nav img {
  cursor: pointer;
  max-width: 80px;
  border-radius: 20px;
}
body nav .nav-links {
  width: 100%;
}
body nav .nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
body nav .nav-links ul li a {
  scroll-behavior: smooth;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  transition: all 0.1s ease-in-out;
}
body nav .nav-links ul li a:hover {
  text-decoration: underline;
  background-color: white;
  color: black;
}
body main {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .info {
  width: 100%;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
}
body main .info h1 {
  font-family: "Panchang";
}
body main .info img {
  width: 200px;
  border-radius: 50%;
}
body main .info .languages {
  margin: 30px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
body main .info .languages p {
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  border-radius: 6px;
  -webkit-clip-path: polygon(10px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 10px);
          clip-path: polygon(10px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 10px);
  background: rgba(182, 234, 218, 0.3098039216);
  padding: 16px 40px;
  margin: 10px 10px;
  font-weight: 600;
  font-size: 18px;
  transition: -webkit-clip-path 300ms;
  transition: clip-path 300ms;
  transition: clip-path 300ms, -webkit-clip-path 300ms;
}
body main .info .languages p:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: rgba(196, 214, 209, 0.3098039216);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 6px 0;
  transition: transform 300ms;
}
body main .info .languages p:hover {
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
          clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
  background: rgba(176, 205, 197, 0.3098039216);
}
body main .info .languages p:hover::after {
  transform: translate(-100%, -100%);
}
body main .info .skills {
  margin: 30px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
body main .info .skills p {
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  border-radius: 6px;
  -webkit-clip-path: polygon(10px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 10px);
          clip-path: polygon(10px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 10px);
  background: rgba(91, 143, 185, 0.2039215686);
  padding: 16px 40px;
  margin: 10px 10px;
  font-weight: 600;
  font-size: 18px;
  transition: -webkit-clip-path 300ms;
  transition: clip-path 300ms;
  transition: clip-path 300ms, -webkit-clip-path 300ms;
}
body main .info .skills p:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: rgba(184, 210, 232, 0.2039215686);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 6px 0;
  transition: transform 300ms;
}
body main .info .skills p:hover {
  -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
          clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%, 0% 0px);
  background: rgba(116, 155, 187, 0.2039215686);
}
body main .info .skills p:hover::after {
  transform: translate(-100%, -100%);
}
body main .projects {
  margin-top: 200px;
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .projects .cards {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}
body main .projects .cards .card {
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
body main .projects .cards .card a {
  margin: 0;
  color: white;
  text-decoration: none;
  text-align: center;
}
body main .projects .cards .card a img {
  margin: 0;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s;
}
body main .projects .cards .card #sourcelink {
  margin: 20px 20px;
}
body main .projects .cards .card:hover img {
  transform: scale(1.1);
}
body main .contact {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .contact ul {
  list-style: none;
}/*# sourceMappingURL=style.css.map */